body {
    margin: 0;
    padding: 0;
    background-color: #f1f5f8;
    font-size: 16px;
}

/* Style for the top bar */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0d3059;
    color: white;
    text-align: center; /* Center align text within the header */
    z-index: 100;
    display: flex; /* Add flex display to arrange logo and h2 horizontally */
    align-items: center; /* Vertically center align logo and h2 */
    justify-content: space-between; /* Distribute space between logo and h2 */
    border-bottom: 1px solid silver; /* Normal visible border on the right */
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1); /* Light shadow to the right */  
}

#logodiv{
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

#logocss{
    margin: 0vw 1vw;
}

.logo img {
    height: 5vw;
    width: 5vw;
    margin-top: 2px;
    margin-left: 2vw;
    margin-right: 2vw;
}
.user-info{
    border: 1px solid white; /* Light black bottom border */
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /* Black bottom shadow */
    padding: 0.6vw;
}

/* Style for main container 'div' */
.aside-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

/* Style for the side bar */
aside {
    width: 13%;
    height: 100%;
    background-color: #133e70;
    position: fixed;
    top: 0; /* Set top to 0 to start from the top of the viewport */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 3px solid silver; /* Normal visible border on the right */
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1); /* Light shadow to the right */
    font-size: 0.8rem;
    margin-left: 0px;
    border-bottom: 1px solid #444; /* Light black bottom border */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /* Black bottom shadow */
}


.side-div {
    width: 100%;
}

.side-div:first-child {
    margin-top: 50px;
}

.main-sec {
    flex: 1;
    position: absolute;
    top: 8%;
    right: 0;
    width: 87%;
}

/* side bar elements style */
.side-element {
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    border-bottom: 1px solid #444; /* Light black bottom border */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /* Black bottom shadow */
    cursor: pointer;
    padding: 8% 0;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 8%;
    font-size: 1rem;
    letter-spacing: 0.05em;
    color: white;
    text-decoration: none;
}
.side-element i{
    margin-right: 5%;
    margin-left: 5%;
}

.side-element:first-child {
    margin-top: 40%;
}

.list-icon {
    font-size: 1.2rem;
    color: white;
}

.side-element:hover {
    background-color: #0056b3;
}

/* Style for the top bar icon container as a horizontal header menu */
.top-bar-icon-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center;
    position: absolute;
    right: 1%; /* Adjust this value for spacing from the right edge */
    top: 26%;
    margin-left: auto;
}

.top-bar-icon-container div {
    display: inline;
}

.top-bar-icon-container div p {
    display: inline;
}

.top-bar-icon-container div:first-child {
    display: inline;
    font-size: 1.2rem;
    margin-right: 10px;
}
.top-bar-icon-container form div:first-child {
    display: inline;
    font-size: 1.2rem;
    margin-right: 10px;
}
 /* table personal info */
.ddown-menu table{
    width: 95%;
    text-align: left;
    margin: 0 auto;
}
.ddown-menu tr, td, th{
    padding-top: 5%;
    padding-bottom: 0.5%;
    border-bottom: 1px solid #ccc;
}
.ddown-menu th{
    vertical-align: top;
}

.top-bar-icon-container a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 0 10px;
}
.c2{
    height: 45%;
}
/* Hide the dropdown menu by default */
.ddown-menu {
    display: none;
    position: absolute;
    top: 40%;
    right: 100%;
    width: 300px;
    height: 275px;
    font-size: 16px;
    text-transform: capitalize;
    background-color: #133e70;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    z-index: 1;
}

/* Style for the toggle button */
.toggle-button {
    text-decoration: none;
    color: #007BFF;
    cursor: pointer;
}

@media (max-width: 800px) {
    .aside-container{
        display: none;
    }
    .top-bar-icon-container .user-info{
        display: none !important;
    }
    .menubar {
        display: block !important;/* or any other display property you want */
    }
    /* Style the dropdown menu container */
    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #007BFF;
        color: white;
        z-index: 1;
    }
    /* Style each menu item */
    .dropdown-menu a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: white;
        transition: background-color 0.3s;
    }

    /* Hover effect for menu items */
    .dropdown-menu a:hover {
        background-color: #0056b3;
    }
}
@media (min-width: 800px) {
    .menubar {
        display: none/* or any other display property you want */
    }
    .dropdown-menu {
        display: none !important;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #007BFF;
        color: white;
        z-index: 1;
    }
}