h1{
    margin: 5%;
}
#cards-container{
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    height: 85vh;
    margin: 5%;
    margin-top: 4%;
}

.cards{
    background-color: white;
    margin: 0% 20px;
    padding: 20px 8px;
    height: 100vh;
    width: 90%;
    max-height: 50%;
    max-width: 90%;
}
#language-select{
    background-color: transparent;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
  }
  #language-select option{
    color: black;
    font-weight: 600;
  }



/* scroller hidder */
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.cards:hover{
    box-shadow: 1px 2px 12px #ccc;
}
.cards h1{
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
    padding-left: 20px;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-bottom: 1px solid #ccc;
    width: 90%;
}

.detail-container{
    height: 90%;
    overflow: scroll;
}

/* announcement style */
.Announcement-list{
    list-style: none;
    padding: 0 15px;
    margin-top: 0;
}
.Announcement-item{
    background: linear-gradient(0deg, #fff, rgb(230, 230, 230));
    color: black;
    padding: 10px;
    margin: 7px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.5px;
    transition: transform 0.2s ease-in-out;
}
.Announcement-item:hover{
    background: linear-gradient(0deg, #007BFF, #0056b3);
    color: white;
    transform: scale(1.05);
}

.detail-container-side{
    height: 80%;
    overflow: scroll;
}

.detail-container-side ul{
    width: 95%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.detail-container-side li{
    background-color: rgb(245, 245, 245);
    padding: 1.5%;
    box-shadow: 1px 1px 3px #ccc;
    margin-bottom: 1.5%;
}

.internee-tables{
    width: 95%;
    text-align: center;
    margin: 0 auto;
  }
  .internee-tables, .internee-tables tr, .internee-tables th, .internee-tables td{
    border-collapse: collapse;
    padding: 1% 0;
  }
  .internee-tables tr{
    border: 1px solid #ccc;
  }
  .internee-tables th{
    position: sticky;
    top: 0;
    background-color: #1f618d;
    color: white;
    text-transform: capitalize;
  }
  
  .internee-tables td{
    padding: 6px;
  }
  
